<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLink}}
</head>

<body>
    {{>header}}
    <h1>welcome to About us</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt velit nemo, fugit rem
        repudiandae, tempore harum obcaecati eius commodi hic optio est aliquam debitis, maiores sint doloremque id in.
        Numquam! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit nam esse placeat aperiam? Quisquam nisi
        repudiandae libero placeat.
        Sunt assumenda numquam doloremque quis obcaecati vero natus ut expedita, necessitatibus animi.
    </p>
</body>

</html>