<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLink}}
</head>

<body>
    {{>header}}
    <h1>welcome to Contact us</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias quam aliquid est assumenda aperiam nobis,
        dicta voluptates recusandae? Eveniet quos exercitationem facere. Doloremque omnis, ratione a repellendus nisi
        nostrum asperiores.lorem lorm
    </p>
</body>

</html>